<template name="editAreaPage">
{{#if isInRole 'areas-editor'}}
  <h2>Edit area (ID: {{this._id}})</h2>
  {{#autoForm collection="Areas" id="areaForm" doc=this type="update"}}
    <fieldset>
        {{> afQuickField name='title'}}

		<div class="form-group{{#if afFieldIsInvalid name='color'}} has-error{{/if}} colorpicker-component-left">
			<label>{{ afFieldLabelText name='color' }}</label>
			<div class="input-group">
				<span class="input-group-addon"><i></i></span>
				{{> afFieldInput name='color'}}
			</div>
			{{#if afFieldIsInvalid name='color'}}
				<span class="help-block">{{afFieldMessage name='color'}}</span>
			{{/if}}
		</div>

		{{> afQuickField name='comment' rows=6}}
		{{> afQuickField name='layer'}}
    </fieldset>
    <button type="submit" class="btn btn-primary">Submit</button>
  {{/autoForm}}
{{else}}
  {{> loginWarning}}
{{/if}}
</template>
